@charset "ISO-8859-1";

.title{
   text-align: center;
   margin: auto;
}
.title img{
   margin: auto;
}

.form_style{
   width: 100%;
}
/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');



.container {
   width: 80%;
   margin: 5% auto;
   height: 100%;
   align-content: center;
}

.card {
   height: 370px;
   margin-top: auto;
   margin-bottom: auto;
   width: 400px;
   background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
   font-size: 60px;
   margin-left: 10px;
   color: #FFC312;
}

.social_icon span:hover {
   color: white;
   cursor: pointer;
}

.card-header h3 {
   color: white;
}

.social_icon {
   position: absolute;
   right: 20px;
   top: -45px;
}

.input-group-prepend1{
	margin: 0 20px;
}
.colorbtn{
	background: #3d85c6;
	color: white;
	margin: 0 10px;
}
.colordelete{
	background: #93c47d;
	color: white;
	margin: 0 10px;
}

.input-group-prepend1{
	margin: 0 20px;
	display: flex;
    flex-direction: column;
}
.input-group-prepend span {
   
   border-radius: 1px 0 0 0;
  /*  background-color: #ffffff; */
   color: black;
   /* border: 0 !important; */
}

input:focus {
   outline: 0 0 0 0 !important;
   box-shadow: 0 0 0 0 !important;

}

.error{
   color: red;
   font-size: 14px;
   margin-bottom: 5px;
}
.remember {
   color: rgb(0, 0, 0);
}

.remember input {
   width: 20px;
   height: 20px;
   margin-left: 15px;
   margin-right: 5px;
}

.login_btn {
   color: black;
   background-color: #2c80a1;
   width: 100px;
}

.login_btn:hover {
   color: black;
   background-color: rgb(25, 165, 98);
}

.links {
   color: white;
}

.links a {
   margin-left: 4px;
}




html{
   font-size: 15px;
}
.hearder{
   display: flex;
   justify-content: space-between;
   background: #b7b7b7;
}
.header_right{
   display: flex;
}
.logo{
   width: 25%;
}
.logo img{
   width: 100%;
   height: 100%;
}
.category{
   display: flex;
}

.hoverCate{
	background: red;
	color: white;
}
.category ul{
	height: 50px;
    margin-bottom: 0;
    padding: 0;
   	display: flex;
   	list-style-type: none;
}

.category ul li{
	width: 100px;
   display: flex;
   margin: 5px 10px;
   list-style-type: none;
}
.category ul li a{
	margin: auto;
	color: #333333;
}
.category ul li a:hover{
	color: white;
	text-decoration: none;
}
.category ul li:hover{
   background: red;
   color: white;
}
.admin{
   margin: 5px 10px;
}
.admin a{
	display: flex;
}
.admin a:hover{
	text-decoration: none;
}
.formUser{
   display: flex;
   justify-content: space-between;
}


.itemForm{
	margin: 0 10px;
}
.input-group-textƯ{
   display: none;
}
.addNew{
   display: flex;
}


.addUser {
  
   margin: 10px 0;
}
.search-btn{
   display: flex;
}
.page-count{
   display: flex;
   justify-content: space-around;
}
.page{
	margin-bottom: 10px;
   display: flex;
}
.zd{
      position: inherit;
}
.page ul{
   margin: auto;
   display: flex;
   list-style-type: none;
}
.textPage{
   margin-top: 5px;
}

.titleForm{
   background-color: #ea4335;
   color: white;
}
.status{
   color: limegreen;
}

.hiddenNoPage{
	background: gray;
}




body {
   font-family: Arial, sans-serif;
   /* background: url(http://www.shukatsu-note.com/wp-content/uploads/2014/12/computer-564136_1280.jpg) no-repeat; */
   background-size: cover;
   height: 100vh;
}

h1 {
   text-align: center;
   font-family: Tahoma, Arial, sans-serif;
   color: #06D85F;
   margin: 80px 0;
}

.box {
   width: 30%;
   margin: 0 auto;
   background: rgba(255, 255, 255, 0.2);
   padding: 5px;
   border: 2px solid #fff;
   border-radius: 20px/50px;
   background-clip: padding-box;
   text-align: center;
}

.button {
   font-size: 1em;
   padding: 5px;
   /* color: #fff; */
   /* border: 2px solid #06D85F; */
   border-radius: 20px/50px;
   text-decoration: none;
   cursor: pointer;
   transition: all 0.3s ease-out;
}

.trash i{
   color: red;
}
/* .button:hover {
   background: #06D85F;
} */

.overlay {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.7);
   transition: opacity 500ms;
   visibility: hidden;
   opacity: 0;
}

.overlay:target {
   visibility: visible;
   opacity: 1;
}

.popup {
   margin: 70px auto;
   padding: 20px;
   background: #fff;
   border-radius: 5px;
   width: 50%;
   position: relative;
   transition: all 5s ease-in-out;
}

.popup h2 {
   margin-top: 0;
   color: #333;
   font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
   position: absolute;
   top: 20px;
   right: 30px;
   transition: all 200ms;
   font-size: 30px;
   font-weight: bold;
   text-decoration: none;
   color: #333;
}

.popup .close:hover {
   color: #06D85F;
}

.popup .content {
   max-height: 30%;
   overflow: auto;
}

@media screen and (max-width: 700px) {
   .box {
      width: 70%;
   }

   .popup {
      width: 70%;
   }
}

.statusCheck{
   width: 510px;
   /* padding-right: 100px; */
}

.popup-item{
   display: flex;
   width: 100%;
   margin: 10px 5px;
   justify-content: space-between;
}

/* .popup-item input-group-texta{
 margin: 0px 10px;
} */
.popup-item input-group-texta {
   margin-top: 5px;
   margin-right: 10px;
}
.popup input{
   width: 80%;
}

.error{
   color: red;
}

.display{
   display: none;
}

.checkBtn{
   text-align: end;
   margin: 5px 20px;
   display: flex;
   flex-direction: row-reverse;
}
.checkBtn button{
	background: #ea4335;
   padding: 5px 20px;
   margin: 5px 20px;
   border: 1px;
}
.checkBtn #checkBtnSubmit{
	background: #ea4335;
   padding: 5px 20px;
   margin: 5px 20px;
   border: 1px;
}
.checkBtn button:before {
   background-color: aqua;
}
.btnSave{
   background: #ea4335;
}

.hidden{
	display: none;
}
.listselect{
	display: flex;
	width: 191px;
    height: 28px;
    flex-direction: column;
}
.listselect .input-group-text1{
	margin: 0;
}

.selectform{
	padding: 4px;
	width: 191px;
    height: 28px;
}

.infoUser{
	color: black;
	
}
.infoUser:hover{
	text-decoration: none;
	color: #b7b7b7
}

.setBackground{
	background: red;
}

.inputForm{
	height: 30px;
}

.heddinPage{
	display: none;
}
.heddinPage1{
	display: block;
}
.heddinPage2{
	display: none;
}
.changPageFor{
	display: flex;
}
#pageLoad{
	margin-bottom: 10px;
}




/* ProductDetail */


/* Product */ 
.contentpro{
   display: flex;
   justify-content: space-between;
   height: 400px;
}

#contentLeft{
   width: 50%;
}
.itemInput{
   margin: 10px 30px 10px 5px;
   display: flex;
   justify-content: space-between;
}

.itemInput input{
   width: 70%;
}

#contentRight{
   width: 50%;
   height: 400px;
}

.imageProduct{
   width: 300px;
   height: 200px;
   margin: auto;
}

.files{
   margin: 20px auto;
   text-align: center;
}
.files .upload{
   border: 0;
   color: wheat;
   background: aquamarine;
}

.files .deleteImg{
   border: 0;
   color: wheat;
   background: red;
}

#update{
   text-align: end;
   margin-right: 10%;
}

#update button{
   margin: 5px 10px;
   border: 0;
   padding: 10px 20px;
}

#update #exit{
   color: aqua;
}
#update #save{
   color: wheat;
   background: red;
}






